<!--<link href="css/contact.css"/>-->
	<style>
		body
		{
			margin: 0 4% 0 4%;
		}
		.main_service{
			
			width:auto;
			margin:10px 0 0 0;				
		}
		.it_services
		{
			width:860px;
			float:left;
			border: 1px solid #E8E2E2;
			padding:0 10px 0 10px;								
		}
		.study
		{	
			width:300px;
			border: 1px solid #E8E2E2;
			display:inline-block;
			margin-left:20px;
			padding:5px 0 0 10px;				
		}
	</style>
</head>

<body>
	<div class="main_service">
        <div class="it_services">
            <h1> CONTACT THE INSTITUTE </h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi voluptas possimus ratione officiis qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi voluptas possimus ratione officiis qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi voluptas possimus ratione officiis qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
         
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi voluptas possimus ratione officiis qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi. </p>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi voluptas possimus ratione officiis qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi voluptas possimus ratione officiis qui!Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, error pariatur laudantium ad deleniti id rerum quam illum tempore eligendi iste at quasi ex nisi. </p>          
          
        </div>
        <div class="study">
            <img src="images/129_P940.JPG" width="280px" height="200px" alt="img1">    
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, adipisci, eligendi, assumenda, aperiam velit placeat fugit quaerat quas beatae animi illo vero iusto accusamus porro consectetur ducimus fuga est labore.</p>
        </div>
    </div>
</body>
</html>
